/* Remove default margin & padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    border-radius: 0;
}

/* Background color for dropdown menu */
.navbar-nav {
    background-color: #f8f9fa;
}

/* Page heading */
h1 {
    margin-top: 20px;
    font-size: 36px;
}

/* Tall Section */
.section {
    background-color: #f4f4f4;
    height: 1000px;
    padding: 20px;
}
